 html {
    background-image: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, black, black 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.image0{

}


.image4{
 
}


.image1{

}



.titre{
    text-align: center;
    color: white;
}

.video-container {
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.centercontact{
  display: flex;
  justify-content: center;
  
  position: relative;
 padding-top: 100%;
 
}
.centercourses{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: 140%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.li-container{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-weight: bold;
  
}
#message {
  width: 300px;
  height: 300px;
}
.container2{
  display: flex;
  
  position:relative;
 
 margin-top:27%;
 justify-content: center;
}
.image-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
#titre1{
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;

}
#para1{
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(0, 132, 255);
}
#link1:hover{
  color:  rgb(0, 132, 255);
  text-decoration: underline;
}
#link1:link{
  color:   rgb(0, 132, 255);
}
#link1:visited{
  color:  rgb(0, 132, 255);
}
#titrepa2{
  color: white;
  font-size: 30px;
}